<% include header2 %>

<div class="container">
    <div class="well"  style="padding:40px;">
      <h2 style="width:20%; margin:auto;">CHAT</h2>
      <h4 style="width:20%; margin:auto;""> <p>Vous etes dans la room : <%= crn %> </p></h4>
      <div id="messages" style="">
      </div>
      <div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
      <div id="conversation"></div>
       <input id="data" style="width:200px;" />
       <input type="button" id="datasend" value="send"/>
      </div>
    </div>
</div>

  <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000');
      
         socket.on('connect', function(){
            socket.emit('adduser3', '<%= ret[0].name %>', '<%= ret[0].focus %>');
         });

         socket.on('oldMess', (username, data, date)=>{
            $('#messages').append('<div class="well"><div class="info"><p><strong>' + username + '(' + date + ')' + ':</p></strong>' + data + '</div></div>');
         })

         socket.on('afficher_message', function(username, data){
          console.log('updatechat---', username, data)
          $('#messages').append('<div class="well"><div class="info"><p><strong>' + username + ':</p></strong>' + data + '</div></div>');
         })

         socket.on('updatechat', function(username, data){
            var request = new XMLHttpRequest();
            request.open('POST', '/chat/chat', true);
            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            request.send("userName="+username+"&content="+data+"&roomName="+"<%= ret[0].focus %>");
         })
         
          $(function(){
            $('#datasend').click( function() {
              var message = $('#data').val();
              $('#data').val('');
              socket.emit('sendchat', message);
            });
            $('#data').keypress(function(e) {
              if(e.which == 13) {
                $(this).blur();
                $('#datasend').focus().click();
              }
            });
          });

      /*   socket.on('updaterooms', function(rooms, current_room) {
              $('#rooms').empty();
              $.each(rooms, function(key, value) {
                 if(value == current_room){
                    $('#rooms').append('<div>' + value + '</div>');
                 }
                 else {
                    $('#rooms').append('<div><a href="#" onclick="switchRoom(\''+ value + '\')">' + value + '</a></div>', '<%= ret[0].name %>');
                 }
              });
           });

          function switchRoom(room, name){
             socket.emit('switchRoom', room, name);
          }
*/
         
    </script>
	<script>
    notif();
    var myVar = setInterval(notif, 7000);

    function notif(){
        var socket = io.connect('http://localhost:3000');

        socket.on('connect', function(){
        socket.emit('notification_like', '<%= user[0].name %>');
        socket.emit('notification_newMsg', '<%= user[0].name %>');
        socket.emit('notification_newMsg_unread', '<%= user[0].name %>');

         socket.on('notif_like', (res, img)=>{
            $('#notifliking').empty();
            for(var i = 0; i < res.length; i++){
                if (res[i].isRead == false) {
                    $('#notifliking').prepend('<li><a onclick="setNotif(\'' + res[i].date + '\');" class="dropdown-item"> <strong><i>' + res[i].type + '</i> ' + res[i].userSend + ' </strong> <p>' + res[i].time + '</p></a></li>');
                } else {
                    $('#notifliking').prepend('<li ><a style="color: antiquewhite" onclick="setNotif(\'' + res[i].date + '\');" class="dropdown-item"> <strong><i>' + res[i].type + '</i> ' + res[i].userSend + ' </strong> <p>' + res[i].time + '</p></a></li>');
                }
            }
         })
         socket.on('notif_all_like', (res)=>{
            $('#all_like').empty();
            for(var i = 0; i < res.length; i++){
                $('#all_like').prepend('<li><a class="dropdown-item" href="/profile/'+res+'"> <strong>'+ res  + ' </strong></a></li>');
            }
         }) 
         socket.on('notif_all_visit', (res)=>{
            $('#all_visit').empty();
            for(var i = 0; i < res.length; i++){
                $('#all_visit').prepend('<li><a class="dropdown-item" href="/profile/'+res[i]+'"> <strong>'+ res[i]  + ' </strong></a></li>');  
            }
         }) 
         socket.on('nb_msg_unread', (res)=>{
            $('#notif_msg_nb').text(res);
         })
        socket.on('nb_notif_unread', (res)=>{
            $('#notif_nb').text(res);
         }) 
         socket.on('notif_newMsg', (res, crn)=>{
            $('#notif_msg').empty();
            for(var i = 0; i < res.length; i++){
            $('#notif_msg').prepend('<li><a class="dropdown-item" href="/chat" onclick="return send_info_chat3('+ res[i].chatRoomName +'\', \'<%= user[0].name %>\')"><strong>' + res[i].user + '</strong>: le ' + res[i].date  +'</a></li>');
                }
            })

         socket.on('notif_all_conv', (res)=>{
            $('#all_conv').empty();
            for(var i = 0; i < res.length; i++){
                $('#all_conv').prepend('<li><a class="dropdown-item" href="/chat" onclick="return send_info_chat3('+ res[i].chatRoomName +'\', \'<%= user[0].name %>\')"><strong>' + res[i].other + '-' + res[i].me + '</strong></a></li>');
            }

         })
        })
    }  
</script>

<% include footer_dash %>