<% include header2 %>

<div class="container">
    <div class="well"  style="padding:40px;">
      <h2 style="width:20%; margin:auto;">CHAT</h2>
      <h3 style="width:20%; margin:auto;""> <p>Vous Parlez avec </p></h3>
      <div id="messages" style="">
      </div>
      <div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
      <div id="conversation"></div>
       <input id="data" style="width:200px;" />
       <input type="button" id="datasend" value="send" />
      </div>
    </div>
</div>

  <script src="socket.io/socket.io.js"></script>
	<script>
   		var socket = io.connect('http://localhost:3000');
      
         socket.on('connect', function(){
            console.log('Un utilisateur de connecte-----------');
            console.log('<%= ret[0].name %>', '<%= ret[0].focus %>')
            socket.emit('adduser2', '<%= ret[0].name %>', '<%= ret[0].focus %>');
         });

         socket.on('oldMess', (username, data)=>{
            $('#messages').append('<div class="message"><div class="info"><p><strong>' + username + ':</p></strong>' + data + '</div></div>');
         })

         socket.on('updatechat', function(username, data){
          console.log('updatechat---', username, data)
          $('#messages').append('<div class="well"><div class="info"><p><strong>' + username + ':</p></strong>' + data + '</div></div>');
            var request = new XMLHttpRequest();
                            request.open('POST', '/chat/chat', true);
                            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                            request.send("userName="+username+"&content="+data+"&roomName="+"<%= ret[0].focus %>");
         })

         socket.on('updaterooms', function(rooms, current_room) {
              $('#rooms').empty();
              $.each(rooms, function(key, value) {
                 if(value == current_room){
                    $('#rooms').append('<div>' + value + '</div>');
                 }
                 else {
                    $('#rooms').append('<div><a href="#" onclick="switchRoom(\''+ value + '\')">' + value + '</a></div>', '<%= ret[0].name %>');
                 }
              });
           });


            function switchRoom(room, name){
               socket.emit('switchRoom', room, name);
            }

            $(function(){
            $('#datasend').click( function() {
               var message = $('#data').val();
               $('#data').val('');
               console.log('MMMMEESSSAGE',message)
               socket.emit('sendchat', message);
            });
            $('#data').keypress(function(e) {
               if(e.which == 13) {
               $(this).blur();
               $('#datasend').focus().click();
               }
            });
         });

   	</script>
<% include footer_dash %>