<% include header2 %>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron text-center"  style="padding:40px;">
    <h2><span class="fa fa-sign-in">Votre Profile</span></h2>
    
    <script>
    function cloneAsObject(obj) {
        if (obj === null || !(obj instanceof Object))
            return obj;
        var temp = (obj instanceof Array) ? [] : {};
        for (var key in obj)
            temp[key] = cloneAsObject(obj[key]);
        return temp;
    }

    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(position){
            $("#geoResult").val(JSON.stringify(cloneAsObject(position.coords)));
        })
    }
    else{
         $.getJSON("http://ip-api.com/json/?callback=?", function(data) {
            $("#geoResult").val(JSON.stringify(data));
        });
        }
    </script>

    <!-- LOGIN FORM -->
    <form class="form-horizontal" action="compte/form_compte" method="post">

        <div class="form-group">
            <input type="text" class="form-control" name="email" required="required"
            placeholder="Email" value="<%= ret[0].email %>">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="pwd" name="pwd" required="required" placeholder="Password">
        </div>
        <hr>

        <div class="form-group">
            <input type="text" class="form-control" id="nom" name="nom" required="required" placeholder="Nom" value="<%= ret[0].nom %>">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="prenom" name="prenom" required="required" placeholder="Prénom" value="<%= ret[0].prenom %>">
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Age *</label>
            <input type="number" name="age" min="18" max="100" required="required" value="<%= ret[0].age %>">
        </div>

        <div class="form-group">
        	<label class="control-label col-sm-2">Genre </label>
        	<label class="radio-inline">
        		<input type="radio" name="genre" value="M">Masculin
        	</label>
			<label class="radio-inline">
				<input type="radio" name="genre" value="Mme">Feminin
			</label>
			<label class="radio-inline">
				<input type="radio" name="genre" value="Tran">Indefini
			</label>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2">Orientation</label>
            <label class="radio-inline">
                <input type="radio" name="orientation" value="Ht">Hétérosexuel
            </label>
            <label class="radio-inline">
                <input type="radio" name="orientation" value="Hm">Homosexuel
            </label>
            <label class="radio-inline">
                <input type="radio" name="orientation" value="Bi">Bisexuel
            </label>
        </div>

        <div class = "form-group">
            <label>Put some #hobbies</label>
            <textarea class="form-control" rows="3" id="hastag" name="hashtag" maxlength="200" placeholder="Put some #hobbies (200 caractères)"></textarea>
        </div>

        <div class="form-group">
            <label>Tell us about you</label>
  				<textarea class="form-control" rows="4" id="comment" name="bio" maxlength="200" placeholder="Biographie (200 caractères)"></textarea>
		</div>
		<hr>
        <div class="form-group">
            <input type="hidden" name="geo" id="geoResult" value=""></input>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-warning btn-lg">Enregistrer</button>
        </div>
            <div class="form-group">
            <a class="btn btn-primary" href="/profile/<%= ret[0].name %>">Mon Profile</a>
        </div>
    </form>
</div>
</div>
</div>



<%include footer %>
