<% include header_dash.ejs %>



<div class="container" >
    <div class="row" id="table">

        <% for (var i=0; i < ret.length; i++) { %>
        <!--<div class="jumbotron text-center"  style="padding:40px;">-->
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12" id="datbox">
                <div class="thumbnail" style="background-image:     linear-gradient(90deg,rgb(127, 18, 47), rgb(200, 255, 255) );"  id="mybox">
                    <div>
                    <% if (ret[i].img[0]){ %>
                    <img class="parent" src="<%= ret[i].img[0] %>"  alt="">
                    <% } else { %>
                    <img class=" img-thumbnail" alt="140x140" src="/img/no_image.png" />
                    <% } %></div>
                    <div class="caption">
                        <h3><%= ret[i].nom %> <%= ret[i].prenom %></h3>
                        <div class="col-md-4 column">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>
                                    Age :
                                </td>
                                <td>
                                    <% if(ret[i].age) %>
                                    <%= ret[i].age %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Popularite:
                                </td>
                                <td>
                                    <%= ret[i].popularite %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dist:
                                </td>
                                <td>
                                    <%= geo[i].dist %> Km
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Insterested by :
                                </td>
                                <td>
                                    <% if (ret[i].orientation == 'Ht' && ret[i].genre == 'M'){ %>
                                    Woman
                                    <% } else if (ret[i].orientation == 'Ht' && ret[i].genre == 'Mme') { %>
                                    Man
                                    <% } else if (ret[i].orientation == 'Hm' && ret[i].genre == 'M') { %>
                                    Man
                                    <% } else if (ret[i].orientation == 'Hm' && ret[i].genre == 'Mme') { %>
                                    Woman
                                    <% } else if (ret[i].orientation == 'Bi'){ %>
                                    Everybody
                                    <% } %>
                                </td>
                            </tr>


                            </thead>
                        </table>

                        </div>
                    </div>
                        <p id="b_view"><a href="/profile/<%= ret[i].name %>"    class="btn btn-primary" role="button">View profil</a></p>

                </div>
            </div>

        <!--</div>-->

        <% } %>
    </div>
</div>
</body>

<% include footer_dash %>