<% include header_dash.ejs %>



<div class="container" >
    <div class="row" id="table">

        <% for (var i=0; i < ret.length; i++) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12" id="datbox">
                <div class="thumbnail" style="background-image:linear-gradient(90deg,rgb(127, 18, 47), rgb(200, 255, 255));box-shadow: 1px 10px 22px #555; "  id="mybox">
                    <div>
                    <% if (ret[i].img[0]){ %>
                    <img class="parent" src="<%= ret[i].img[0] %>"  alt="">
                    <% } else { %>
                    <img class=" img-thumbnail" alt="140x140" src="/img/no_image.png" />
                    <% } %></div>
                    <div class="caption">
                        <h3><%= ret[i].nom %> <%= ret[i].prenom %></h3>
                        <div class="col-md-4 column">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>
                                    Age :
                                </td>
                                <td>
                                    <% if(ret[i].age) %>
                                    <%= ret[i].age %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Popularite:
                                </td>
                                <td>
                                    <%= ret[i].popularite %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dist:
                                </td>
                                <td>
                                    <% if(geo) { %>
                                    <% geo[i].dist } %> Km
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Insterested by :
                                </td>
                                <td>
                                    <% if (ret[i].orientation == 'Ht' && ret[i].genre == 'M'){ %>
                                    Woman
                                    <% } else if (ret[i].orientation == 'Ht' && ret[i].genre == 'Mme') { %>
                                    Man
                                    <% } else if (ret[i].orientation == 'Hm' && ret[i].genre == 'M') { %>
                                    Man
                                    <% } else if (ret[i].orientation == 'Hm' && ret[i].genre == 'Mme') { %>
                                    Woman
                                    <% } else if (ret[i].orientation == 'Bi'){ %>
                                    Everybody
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                            </thead>
                        </table>

                        </div>
                    </div>
                    <div>
                        <p id="b_view" style="display: inline"><a href="/profile/<%= ret[i].name %>" class="btn btn-primary" role="button">View profil</a></p>
                    </div>
                        
                </div>
            </div>

        <% } %>
    </div>
</div>

<script src="../socket.io/socket.io.js"></script>

    <script>
    
        var socket = io.connect('http://localhost:3000');
      console.log('coucou NOTIFFFFFF');
      console.log('<%= user[0].name %>');
        socket.on('connect', function(){

            socket.emit('notification_like', '<%= user[0].name %>');
            socket.emit('notification_match', '<%= user[0].name %>');
            socket.emit('notification_visit', '<%= user[0].name %>');
            socket.emit('notification_newMsg', '<%= user[0].name %>');
            socket.emit('notification_newMsg_unread', '<%= user[0].name %>');

         socket.on('notif_like', (res)=>{
             for (var i = 0; i < res.length; i++) {
                 $('#notifliking').append('<li><a href="#">' +  res[i] + '</a></li>');
             }

         })

         socket.on('notif_unlike', (res)=>{
         })


         socket.on('nb_msg_unread', (res)=>{
            $('#notif_msg_nb').text(res);
         })

            socket.on('notif_match', (res)=>{
                $('#notifmatching').append('<li><a href="#">' +  res + '</a></li>');
                console.log(res);
            })
         socket.on('notif_newMsg', (res)=>{
            console.log('res', res)
            $('#notif_msg').prepend('<li><a class="dropdown-item" href="/chat" onclick="return send_info_chat2(\'<%= user[0].matchRoom[i] %>\', \'<%= user[0].name %>\')"><strong>' + res.user + '</strong>: le ' + res.date  +'</a></li>');
         })
     })
     </script>

<% include footer_dash %>