<footer>
	<div class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<div class="navbar-collapse collapse" id="footer-body">
				<ul class="nav navbar-nav">
				<li><div>
                    		<a href="/dashboard">
                    			<button class="btn btn-default btn-lg btn-link" style="font-size:16px;">
   										 <span class="glyphicon glyphicon-home"></span>
  								</button>
  							</a>
  						</div>
					</li>
                    <li><div>
                    		<a href="/compte">
                    			<button class="btn btn-default btn-lg btn-link" style="font-size:16px;">
   										 <span class="glyphicon glyphicon-user"></span>
  								</button>
  							</a>
  						</div>
					</li>
                    <li><div>
                    		<a href="/upload_img">
                    			<button class="btn btn-default btn-lg btn-link" style="font-size:16px;">
   										 <span class="glyphicon glyphicon-camera"></span>
  								</button>
  							</a>
  						</div>
					</li>
                    <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-heart" aria-hidden="true">3</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><%= user[0].name %></a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/match">Tout les matchs</a></li>
                </ul>
            </li>
					 <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-comment" aria-hidden="true">3</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/chat">Toutes les conversation</a></li>
                </ul>
            </li>
                </ul>
			</div>
		</div>
	</div>
</footer>

<!-- <script src="socket.io/socket.io.js"></script>
    <script>
    
        var socket = io.connect('http://localhost:3000');
      console.log('coucou NOTIFFFFFF');
      console.log('<%= user.name %>');
        socket.on('connect', function(){
            socket.emit('notification_like', '<%= user.name %>');
            socket.emit('notification_match', '<%= user.name %>');
            socket.emit('notification_visit', '<%= user.name %>');

         socket.on('notif_like', (res)=>{
          console.log('NOTIiiiiiiifof', res[res[0].liker.length - 1].liker)
         })

         socket.on('notif_unlike', (res)=>{
          console.log('NOTIiiiiiiifof', res[res[0].liker.length - 1].liker)
         })
     })
     </script> -->

</body>
</html>
