<% include header_pro %>
<div class="container-fluid">
    <div class="row clearfix well">
        <% if(ret[0].img[0]) { %>
        <div class="col-md-2 column">
            
           <img class=" img-thumbnail" alt="140x140" src="<%= ret[0].img[0] %>" />
        </div>
        <% } else { %>
        <div class="col-md-2 column">
            
           <img class=" img-thumbnail" alt="140x140" src="/img/no_image.png" />
        </div>
        <% } %>

        <div class="col-md-8 column">
                <p><h4><%= ret[0].name %></h4></p>
                    <% if (ret[0].tag) { %>
                <p> 
                    <% for (var i = 0; i < ret[0].tag.length;  i++) { %>
                        <span class="label label-info"><%= ret[0].tag[i] %></span> &nbsp;
                        <% if (i == 9){ %>
                            </br>
                        <% } %>
                     <% } %>
                </p>
                <% } %>
        </div>
        <div class="container-fluid">
            <div class="row">
        <div class="col-md-2 column">
            <p>
            <% if (islike == false && (user[0].img[0])){ %>
            <button id="mylikebutton" class="btn btn-primary btn-block" onclick="like_request('<%= ret[0].name %>');" type="button">
                Like
            </button>
            <% } else if (islike == true && user[0].img[0]) { %>
            <button id="mylikebutton" class="btn btn-danger btn-outline btn-block" onclick="unlike_request('<%= ret[0].name %>')" type="button">
                Unlike !
            </button>
            <% } else { %>
            <button id="mylikebutton" class="btn btn-danger btn-outline btn-block"  type="button">
                Can't like !
            </button>
            <% } %>
            </p>
            <p>
                <% if (imlike == true && islike == true && ret[0].img[0]){ %>
            <a href="/chat"><button class="btn btn-info btn-block" onclick="send_info_chat('<%= ret[0].name %>', '<%= user[0].name %>')" type="button">
                Message
            </button></a>
                <% } else { %>
                <button id="" class="btn btn-danger btn-outline btn-block"  type="button">
                    No Match !
                </button>
                <% } %>
            </p>
            <p>
            <% if (ret[0].reported < 3 && isRpt == false){ %>
            <button id="reported" class="btn btn-warning btn-block" type="button" onclick="reportedEv('<%= ret[0].name %>');" >
                Report !
            </button>
            <% } else { %>
            <button class="btn btn-danger btn-outline btn-block">
                Alrd Report !
            </button>
            <% } %>
            </p>
            <% if (isBlck == false){ %>
            <button id="block" class="btn btn-danger btn-outline btn-block" onclick="block_user('<%= ret[0].name %>','<%= user[0].name %>')">Bloquer</button>
            <% } else { %>
            <button id="block" class="btn btn-danger btn-outline btn-block" onclick="unblck_request('<%= ret[0].name %>', '<%= user[0].name %>')" type="button">
                UnBlocked !
            </button>
            <% } %>
        </div>
            </div>

        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-444468">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-200304" data-toggle="tab">About</a>
                    </li>
                    <li>
                        <a href="#panel-567649" data-toggle="tab">Photos</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-200304">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <p>
                                    <strong><%= ret[0].bio %></strong>
                                </p>
                            </div>
                            <div class="col-md-4 column">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <strong>Details</strong>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <strong>Age :</strong>
                                        </td>
                                        <td>
                                            <% if(ret[0].age) %>
                                            <p style="color:white;"><%= ret[0].age %><p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Last Online</strong>
                                        </td>
                                        <td>
                                              <p style="color:white;"><%= time %></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Popularite :</strong>
                                        </td>
                                        <td>
                                              <p style="color:white;"><%= ret[0].popularite %></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Insterested by :</strong>
                                        </td>
                                        <td>
                                            <% if (ret[0].orientation == 'Ht' && ret[0].genre == 'M'){ %>
                                              <p style="color:white;">Woman</p>
                                            <% } else if (ret[0].orientation == 'Ht' && ret[0].genre == 'Mme') { %>
                                              <p style="color:white;">Man</p>
                                            <% } else if (ret[0].orientation == 'Hm' && ret[0].genre == 'M') { %>
                                              <p style="color:white;">Man</p>
                                            <% } else if (ret[0].orientation == 'Hm' && ret[0].genre == 'Mme') { %>
                                              <p style="color:white;">Woman</p>
                                            <% } else if (ret[0].orientation == 'Bi'){ %>
                                              <p style="color:white;">THE WORLD !!!</p>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong> Connected: </strong>
                                            <td>
                                                <% if (ret[0].isCo === true) { %>
                                                    <p style="color:green;"> <span class="glyphicon glyphicon-ok"></span></p>

                                                <% } else { %>
                                                    <p style="color:red;"> <span class="glyphicon glyphicon-remove"></span></p>

                                                <% } %> 
                                            </td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-567649">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                
                                <% for (var i = 0; i < ret[0].img.length; i++) { %>
                                <img class="parent" alt="140x140" src="<%= ret[0].img[i] %>" />
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="../socket.io/socket.io.js"></script>
  <script>
    notif();    
    var myVar = setInterval(notif, 7000);

    function notif(){
    var socket = io.connect('http://localhost:3000');

    socket.on('connect', function(){
        socket.emit('notification_like', '<%= user[0].name %>');
        socket.emit('notification_newMsg', '<%= user[0].name %>');
        socket.emit('notification_newMsg_unread', '<%= user[0].name %>');
        socket.on('notif_like', (res, img)=>{
            $('#notifliking').empty();
            for(var i = 0; i < res.length; i++){
                if (res[i].isRead == false) {
                    $('#notifliking').prepend('<li><a onclick="setNotif(\'' + res[i].date + '\');" class="dropdown-item"> <strong><i>' + res[i].type + '</i> ' + res[i].userSend + ' </strong> <p>' + res[i].time + '</p></a></li>');
                } else {
                    $('#notifliking').prepend('<li ><a style="color: antiquewhite" onclick="setNotif(\'' + res[i].date + '\');" class="dropdown-item"> <strong><i>' + res[i].type + '</i> ' + res[i].userSend + ' </strong> <p>' + res[i].time + '</p></a></li>');
                }
            }
        })
        socket.on('notif_all_like', (res)=>{
            $('#all_like').empty();
            for(var i = 0; i < res.length; i++){
                $('#all_like').prepend('<li><a class="dropdown-item" href="/profile/'+res[i]+'"> <strong>'+ res[i] +' </strong></a></li>');
            }
        }) 
        socket.on('notif_all_visit', (res)=>{
            $('#all_visit').empty();
            for(var i = 0; i < res.length; i++){
                $('#all_visit').prepend('<li><a class="dropdown-item" href="/profile/'+res[i]+'"> <strong>'+ res[i] + ' </strong></a></li>');  
            }
        }) 
        socket.on('nb_msg_unread', (res)=>{
            $('#notif_msg_nb').text(res);
        })
        socket.on('nb_notif_unread', (res)=>{
            $('#notif_nb').text(res);
        }) 
        socket.on('notif_newMsg', (res, crn)=>{
            $('#notif_msg').empty();
            for(var i = 0; i < res.length; i++){
                console.log('CHAT ROOM NAME N*', i, 'name: ', res[i].crn)
                $('#notif_msg').prepend('<li><a class="dropdown-item" href="/chat" onclick="send_info_chat3(\''+ res[i].crn +'\', \'<%= user[0].name %>\');"><strong>' + res[i].user + '</strong>: le ' + res[i].date  +'</a></li>');
            }
        })
        socket.on('notif_all_conv', (res)=>{
            $('#all_conv').empty();
            for(var i = 0; i < res.length; i++){
                $('#all_conv').prepend('<li><a class="dropdown-item" href="/chat" onclick="send_info_chat3(\''+ res[i].chatRoomName +'\', \'<%= user[0].name %>\');"><strong>' + res[i].other + '-' + res[i].me + '</strong></a></li>');
            }
        })
    })
}
</script>


<% include footer_dash %>
