<% include header_pro %>
<div class="container">
    <div class="row clearfix well">
        <% if(ret[0].img[0]) { %>
        <div class="col-md-2 column">
            
           <img class=" img-thumbnail" alt="140x140" src="<%= ret[0].img[0] %>" />
        </div>
        <% } else { %>
        <div class="col-md-2 column">
            
           <img class=" img-thumbnail" alt="140x140" src="/img/no_image.png" />
        </div>
        <% } %>

        <div class="col-md-8 column">
                <p>
                    <%= ret[0].name %>
                    </p>
                    <% if (ret[0].tag) { %>
                <p>
                <% for (var i = 0; i < ret[0].tag.length;  i++) { %>
               <span class="label label-info"><%= ret[0].tag[i] %></span> &nbsp;
                    <% if (i == 9){ %>
                        </br>
                    <% } %>
                     <% } %></p>
                    <% } %>

        </div>
        <div class="container">
            <div class="row">
        <div class="col-md-2 column">
            <p>
            <% if (islike == false && ret[0].img[0]){ %>
            <button id="mylikebutton" class="btn btn-primary btn-block" onclick="like_request('<%= ret[0].name %>');" type="button">
                Like
            </button>
            <% } else if (islike == true && ret[0].img[0]) { %>
            <button id="mylikebutton" class="btn btn-danger btn-outline btn-block" onclick="unlike_request('<%= ret[0].name %>')" type="button">
                Unlike !
            </button>
            <% } else { %>
            <button id="mylikebutton" class="btn btn-danger btn-outline btn-block"  type="button">
                Can't like !
            </button>
            <% } %>
            </p>
            <p>
            <a href="/chat"><button class="btn btn-info btn-block" onclick="send_info_chat('<%= ret[0].name %>', '<%= user[0].name %>')" type="button">
                Message
            </button></a>
            </p>
            <p>
            <% if (ret[0].reported == false){ %>
            <form>
            <button class="btn btn-warning btn-block" type="submit" formmethod="post" formaction="/profile/reporte/<%= ret[0].name %>" >
                Report !
            </button></form>
            <% } else { %>
            <button class="btn btn-danger btn-outline btn-block">
                Alrd Report !
            </button>
            <% } %>
            </p>
        </div>
            </div>

        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-444468">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-200304" data-toggle="tab">About</a>
                    </li>
                    <li>
                        <a href="#panel-567649" data-toggle="tab">Photos</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-200304">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <p>
                                    <%= ret[0].bio%>
                                </p>
                            </div>
                            <div class="col-md-4 column">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Details
                                        </th>
                                        <th>
                                            <% if (ret[0].genre == 'M'){ %>
                                                His
                                            <% } else { %>
                                                Her
                                            <% } %>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            Age :
                                        </td>
                                        <td>
                                            <% if(ret[0].age) %>
                                            <%= ret[0].age %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Last Online
                                        </td>
                                        <td>
                                            <%= time %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Popularite :
                                        </td>
                                        <td>
                                            <%= ret[0].popularite %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Insterested by :
                                        </td>
                                        <td>
                                            <% if (ret[0].orientation == 'Ht' && ret[0].genre == 'M'){ %>
                                            Woman
                                            <% } else if (ret[0].orientation == 'Ht' && ret[0].genre == 'Mme') { %>
                                            Man
                                            <% } else if (ret[0].orientation == 'Hm' && ret[0].genre == 'M') { %>
                                            Man
                                            <% } else if (ret[0].orientation == 'Hm' && ret[0].genre == 'Mme') { %>
                                            Woman
                                            <% } else if (ret[0].orientation == 'Bi'){ %>
                                            THE WORLD !!!
                                            <% } %>
                                        </td>
                                    </tr>
                                    
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-567649">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                
                                <% for (var i = 0; i < ret[0].img.length; i++) { %>
                                <img class="parent" alt="140x140" src="<%= ret[0].img[i] %>" />
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="../socket.io/socket.io.js"></script>
<script>
    notif();
    var myVar = setInterval(notif, 2000);

    function notif(){
        var socket = io.connect('http://localhost:3000');

        socket.on('connect', function(){
        socket.emit('notification_like', '<%= user[0].name %>');
        socket.emit('notification_newMsg', '<%= user[0].name %>');
        socket.emit('notification_newMsg_unread', '<%= user[0].name %>');

         socket.on('notif_like', (res, img)=>{
            $('#notifliking').empty();
            for(var i = 0; i < res.length; i++){
            $('#notifliking').prepend('<li><a class="dropdown-item" href="/profile/'+res[i].userSend+'"> <strong><i>'+ res[i].type + '</i> ' + res[i].userSend + ' </strong> <p>'+ res[i].date + '</p></a></li>');
            }
         })
         socket.on('notif_all_like', (res)=>{
            $('#all_like').empty();
            for(var i = 0; i < res.length; i++){
            $('#all_like').prepend('<li><a class="dropdown-item" href="/profile/'+res+'"> <strong>'+ res  + ' </strong></a></li>');
            }
         }) 
         socket.on('notif_all_visit', (res)=>{
            $('#all_visit').empty();
            for(var i = 0; i < res.length; i++){
              $('#all_visit').prepend('<li><a class="dropdown-item" href="/profile/'+res[i]+'"> <strong>'+ res[i]  + ' </strong></a></li>');  
            }
         }) 
         socket.on('nb_msg_unread', (res)=>{
            $('#notif_msg_nb').text(res);
         })
        socket.on('nb_notif_unread', (res)=>{
            $('#notif_nb').text(res);
         }) 
         socket.on('notif_newMsg', (res)=>{
            console.log('res', res)
            $('#notif_msg').empty();
            $('#notif_msg').prepend('<li><a class="dropdown-item" href="/chat" onclick="return send_info_chat2(\'<%= user[0].matchRoom[i] %>\', \'<%= user[0].name %>\')"><strong>' + res.user + '</strong>: le ' + res.date  +'</a></li>');
            })
        })
    }  
</script>
<% include footer_dash %>
