<%include header_dash.ejs %>
<div class="container">
    <div class="row clearfix well">
        <div class="col-md-2 column">
            <img class="img-thumbnail" alt="140x140" src="http://lorempixel.com/140/140/" />
        </div>
        <div class="col-md-8 column">

                <P>
                    <%= ret[0].name %>
                </p> <% for (var i = 0; i < ret[0].tag.length;  i++) { %>
                <p><small><span class="label label-info"> <%= ret[0].tag[i] %> </span></small></p>
                <% } %>

        </div>
        <div class="col-md-2 column">
            <% if (islike == false){ %>
            <button id="mylikebutton" class="btn btn-primary btn-block" onclick="like_request('<%= ret[0].name %>')" type="button">
                Like
            </button>
            <% } else { %>
            <button id="mylikebutton" class="btn btn-danger btn-block" onclick="unlike_request('<%= ret[0].name %>')" type="button">
                Unlike !
            </button>
            <% } %>
            <button class="btn btn-info btn-block" type="button">
                Message
            </button>
            <button class="btn btn-warning btn-block" type="button">
                Report !
            </button>



        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-444468">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-200304" data-toggle="tab">About</a>
                    </li>
                    <li>
                        <a href="#panel-567649" data-toggle="tab">Photos</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-200304">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <p>
                                    <%= ret[0].bio%>
                                </p>
                            </div>
                            <div class="col-md-4 column">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Details
                                        </th>
                                        <th>
                                            <% if (ret[0].genre == 'M'){ %>
                                                His
                                            <% } else { %>
                                                Her
                                            <% } %>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            Last Online
                                        </td>
                                        <td>
                                            1 hour ago
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Insterested by :
                                        </td>
                                        <td>
                                            <% if (ret[0].orientation == 'Ht' && ret[0].genre == 'M'){ %>
                                            Woman
                                            <% } else if (ret[0].orientation == 'Ht' && ret[0].genre == 'Mme') { %>
                                            Man
                                            <% } else if (ret[0].orientation == 'Hm' && ret[0].genre == 'M') { %>
                                            Man
                                            <% } else if (ret[0].orientation == 'Hm' && ret[0].genre == 'Mme') { %>
                                            Woman
                                            <% } else if (ret[0].orientation == 'Bi'){ %>
                                            THE WORLD !!!
                                            <% } %>
                                        </td>
                                    </tr>
                                    
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-567649">
                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                
                                <% for (var i = 0; i < ret[0].img.length; i++) { %>
                                <img alt="140x140" src="../public<%= ret[0].img[i] %>" />
                                <% } %>
                            </div>
                            <div class="col-md-4 column">
                                <p>
                                    Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<% include footer %>
