<% include header2 %>

<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron text-center"  style="padding:40px;">
      <h2>Uploadez vos photos</h2>
      <form class="" id="uploadImgForm" enctype="multipart/form-data" action="/upload_img/upload_img" method="post">
      <div class="form-group">
        <br>
    	  <input class="btn btn-info" type="file" name="userImg" multiple style="display:inline;"/>
        <br>
      </div>
      <div class="form-group">
        <span id="status"></span>
      </div>
       <br>
       <div class="form-group">
    	   <input type="submit" class="btn btn-warning btn-lg" value="Upload" name="submit">
      </div>
    </div>
   </form>
   <div class ="container" style="width:80%;margin:auto; display:block;">
  <% for (var i = 0 ; i < ret[0].img.length; i++) { %>
  <div class="container">
    <div class="row">
    <div>
        <button id="img_button2" class="btn btn-default btn-lg btn-link" onclick="deleteImg('<%= ret[0].img[i] %>')" type="button" style="font-size:16px;" title="Dashboard">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button id="img_button1" class="btn btn-default btn-lg btn-link" onclick="changeProfilePicture('<%= ret[0].img[i] %>', '<%= i %>')" type="button" style="font-size:16px;" title="Dashboard">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="<%= ret[0].img[i] %>"  />
      </div>
    </div>
  </div>
  <% } %>
</div>
  </div>
</div>

<script>
  $(document).ready(function() {
     $('#uploadImgForm').submit(function() {
        $("#status").empty().text("File is uploading...");
        $(this).ajaxSubmit({
            error: function(xhr) {
              status('Error: ' + xhr.status);
            },
            success: function(response) {
            $("#status").empty().text(response);
            }
        });
    return false;
    });
  })
  </script>
  
<script src="socket.io/socket.io.js"></script>
  <script>
    notif();
    var myVar = setInterval(notif, 7000);

    function notif(){
        var socket = io.connect('http://localhost:3000');

        socket.on('connect', function(){
        socket.emit('notification_like', '<%= user[0].name %>');
        socket.emit('notification_newMsg', '<%= user[0].name %>');
        socket.emit('notification_newMsg_unread', '<%= user[0].name %>');

         socket.on('notif_like', (res, img)=>{
            $('#notifliking').empty();
            for(var i = 0; i < res.length; i++){
                if (res[i].isRead == false) {
                    $('#notifliking').prepend('<li><a onclick="setNotif(\'' + res[i].date + '\');" class="dropdown-item"> <strong><i>' + res[i].type + '</i> ' + res[i].userSend + ' </strong> <p>' + res[i].time + '</p></a></li>');
                } else {
                    $('#notifliking').prepend('<li ><a style="color: antiquewhite" onclick="setNotif(\'' + res[i].date + '\');" class="dropdown-item"> <strong><i>' + res[i].type + '</i> ' + res[i].userSend + ' </strong> <p>' + res[i].time + '</p></a></li>');
                }
            }
         })
         socket.on('notif_all_like', (res)=>{
            $('#all_like').empty();
            for(var i = 0; i < res.length; i++){
                $('#all_like').prepend('<li><a class="dropdown-item" href="/profile/'+res+'"> <strong>'+ res  + ' </strong></a></li>');
            }
         }) 
         socket.on('notif_all_visit', (res)=>{
            $('#all_visit').empty();
            for(var i = 0; i < res.length; i++){
                $('#all_visit').prepend('<li><a class="dropdown-item" href="/profile/'+res[i]+'"> <strong>'+ res[i]  + ' </strong></a></li>');  
            }
         }) 
         socket.on('nb_msg_unread', (res)=>{
            $('#notif_msg_nb').text(res);
         })
        socket.on('nb_notif_unread', (res)=>{
            $('#notif_nb').text(res);
         }) 
         socket.on('notif_newMsg', (res, crn)=>{
            $('#notif_msg').empty();
            for(var i = 0; i < res.length; i++){
            $('#notif_msg').prepend('<li><a class="dropdown-item" href="/chat" onclick="return send_info_chat3(\'<%= user[0].focus %>\', \'<%= user[0].name %>\')"><strong>' + res[i].user + '</strong>: le ' + res[i].date  +'</a></li>');
                }
            })
        })
    }  
</script>

<% include footer_dash %>