<% include header2 %>

<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron text-center"  style="padding:40px;">
      <h2>Uploadez vos photos</h2>
      <form class="" id="uploadImgForm" enctype="multipart/form-data" action="/upload_img/upload_img" method="post">
      <div class="form-group">
        <br>
    	  <input class="btn btn-info" type="file" name="userImg" multiple/>
        <br>
      </div>
      <div class="form-group">
        <span id="status"></span>
      </div>
       <br>
       <div class="form-group">
    	   <input type="submit" class="btn btn-warning btn-lg" value="Upload" name="submit">
      </div>
    </div>
   </form>
   <div class ="container" style="width:80%;margin:auto;">
  <% for (var i = 0 ; i < ret[0].img.length; i++) { %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="<%= ret[0].img[i] %>"  />
            <button id="deletebutton" class="btn btn-primary btn-block" onclick="deleteImg('<%= ret[  0].img[i] %>')" type="button">
                 remove
              </button>
      </div>
    </div>
  </div>
  <% } %>
</div>
  </div>
</div>

<script>
  $(document).ready(function() {
     $('#uploadImgForm').submit(function() {
        $("#status").empty().text("File is uploading...");
        $(this).ajaxSubmit({
            error: function(xhr) {
              status('Error: ' + xhr.status);
            },
            success: function(response) {
              console.log(response)
            $("#status").empty().text(response);
            }
        });
    return false;
    });
  })
  </script>

  <script src="../socket.io/socket.io.js"></script>

    <script>
    
        var socket = io.connect('http://localhost:3000');
      console.log('coucou NOTIFFFFFF');
      console.log('<%= user[0].name %>');
        socket.on('connect', function(){

            socket.emit('notification_like', '<%= user[0].name %>');
            socket.emit('notification_match', '<%= user[0].name %>');
            socket.emit('notification_visit', '<%= user[0].name %>');
            socket.emit('notification_newMsg', '<%= user[0].name %>');
            socket.emit('notification_newMsg_unread', '<%= user[0].name %>');


         socket.on('notif_like', (res)=>{
             for (var i = 0; i < res.length; i++) {
                 $('#notifliking').append('<li><a href="#">' +  res[i] + '</a></li>');
             }

         })

         socket.on('notif_unlike', (res)=>{
         })


         socket.on('nb_msg_unread', (res)=>{
            $('#notif_msg_nb').text(res);
         })

            socket.on('notif_match', (res)=>{
                $('#notifmatching').append('<li><a href="#">' +  res + '</a></li>');
                console.log(res);
            })
         socket.on('notif_newMsg', (res)=>{
            console.log('res', res)
            $('#notif_msg').prepend('<li><a class="dropdown-item" href="/chat" onclick="return send_info_chat2(\'<%= user[0].matchRoom[i] %>\', \'<%= user[0].name %>\')"><strong>' + res.user + '</strong>: le ' + res.date  +'</a></li>');
         })
     })
     </script>

<% include footer_dash %>